{% load static %}
<footer>
	<div class="container">
		<div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">

        </div>

        <div class="col-md-3 ">
         <p class="language row-bot">
            <select class="footer-button" id="language-footer">
            <option value="es-419">Español</option>
            <option value="en">Inglés</option>
            </select>
          </p>
          <p class="currency">
            <select class="footer-button" id="currency-footer">
            <option value="MXN">MXN</option>
            <option value="USD">USD</option>
            </select>
            </p>
        </div>
        <div class="col-md-3 text-center">
                  <a href="#" class="app-link external">
                    <img class="row-bot-half" alt="Descargar la aplicación móvil de echarli.dilosung.com de Google Play" src="{% static 'images/echarli/google-en-play-badge.png' %}">
                  </a>
                  <a href="#" class="app-link external">
                    <img class="row-bot-half" alt="Descargar la aplicación móvil de echarli.dilosung.com de la App Store" src="{% static 'images/echarli/apple-en-app-store-badge.svg' %}">
                  </a>
        </div>

        <div class="col-md-3 hidden-xs hidden-sm">

        </div>
    </div>
    <div class="row row-bot">
        <div class="col-xs-12 text-center">
          <ul class="social-media-bottom list-inline">
          <li class="nav-global-04"><a class="cta" title="Facebook" target="_blank" href="https://www.facebook.com/echarli/"><i class="fa fa-facebook fa-lg"></i></a></li>
          <li class="nav-global-04"><a class="cta" title="Twiter" target="_blank" href="https://twitter.com/echarlioficial"><i class="fa fa-twitter fa-lg"></i></a></li>
          <li class="nav-global-04"><a class="cta" title="Google Plus" target="_blank" href="https://plus.google.com/u/0/110769922286901519410"><i class="fa fa-google-plus fa-lg"></i></a></li>
          <li class="nav-global-04"><a class="cta" title="Youtube" target="_blank" href="https://www.youtube.com/channel/UChLoB2eAbmTzGhh2dDvm8bw"><i class="fa fa-youtube fa-lg"></i></a></li>
          <li class="nav-global-04"><a class="cta" title="Instagram" target="_blank" href="https://www.instagram.com/echarlioficial"><i class="fa fa-instagram fa-lg"></i></a></li>
          <li class="nav-global-04"><a class="cta" title="LinkedIn" target="_blank" href="https://www.linkedin.com/company/echarli"><i class="fa fa-linkedin fa-lg"></i></a></li>
          </ul>
        </div>
    </div>
    <div class="row row-bot">
      <div class="col-xs-12 text-center">
         <img src="/static/images/echarli/logo_echarli_blanco.png" height="60">
          <ul class="list-inline">
            <li>Aviso de privacidad</li>
            <li>Términos y condiciones</li>
            <li>Mapa del sitio</li>
          </ul>
      </div>
    </div>
	</div>
</footer>
