{% load i18n %}

{% load staticfiles i18n %}
    <nav class="navbar navbar-default" role="navigation" ui-view="navbar">

      <div class="container">

      <div class="navbar-header">

        <a class="navbar-brand" href="/">
        <img alt="Brand" height="50" src="{% static 'images/echarli/logo_echarli_linea_verde.png' %}">
      </a>
        </div>
        <!--       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        -->
         <ul class="nav navbar-echarlinside navbar-nav navbar-right hidden-xs">
        <li><a href="#">{% trans "Manage your courses" %}</a></li>
        <li><a href="#">{% trans "Messages" %}</a></li>
        <li><a href="#">{% trans "Help" %}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">{% trans "Close session" %}</a></li>
          </ul>
        </li>
      </ul>

      </div>
    </nav>
    <div class="second-menu hidden-xs">
      <div class="containter">

      </div>
    </div>
