$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;
$e-ye: #d7df23;
$e-dye: #bbb932;
$elgreen: #14CA82;
$egreen: #D7DF23;
$eblue: #2C7CB6;
$etitles: #8c8c8c;
$ebody: #cccccc;
$etext: $nav-tabs-border-color;
$menu-navbar: #A4A4A4;
$second-menu-color: #E5E3E3;


.egreen-text{
	color: $egreen;
}