DATABASE_URL="postgres://postgres:000999000@127.0.0.1:5432/echarli2"

POSTGRES_PASSWORD=000999000
POSTGRES_USER=postgres

DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

ELASTICSEARCH_SERVER_URL=http://127.0.0.1:9200/

EMAIL_HOST_PRODUCTION=
EMAIL_PORT_PRODUCTION=

DJANGO_ADMIN_URL=

DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=nm(q4)5wxxftk^j*_46^4qrf24j1n7s)158po@2ns-f59dd(3%
DJANGO_ALLOWED_HOSTS=.echarli.com

DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=

DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
DJANGO_SENTRY_DSN=


NEW_RELIC_LICENSE_KEY=
NEW_RELIC_APP_NAME=echarli2

DJANGO_OPBEAT_ORGANIZATION_ID
DJANGO_OPBEAT_APP_ID
DJANGO_OPBEAT_SECRET_TOKEN
