<div class="jumbotron_bot_subscribe">
	<div class="container">
	<div class="row row-bot visible-sm visible-xs">
      <div class="col-md-6 text-center">
      	<p>Suscribete a los cursos gratis semanales</p>
      </div>
      <div class="col-md-6 text-center">
      	<span>
      	<input type="text" placeholder="Tu correo...">
      	<button type="button" class="btn btn-subscribe"> Suscribete</button>
      	</span>
      </div>
    </div>

    <div class="row row-bot hidden-sm hidden-xs">
      <div class="col-xs-12 text-center">
      	Suscribete a los cursos gratis semanales
      	<span>
      	<input type="text" placeholder="Tu correo...">
      	<button type="button" class="btn btn-subscribe"> Suscribete</button>
      	</span>
      </div>
    </div>
	</div>
</div>